section {
	 padding-top: 5vh;
}



.beer_overview, .beer_overview2 {
	background-color: #e5e5e5;
	border: 2px solid #898989;
  	border-radius: 6px;
 	line-height: 40px;
 	color: black;
	margin-bottom: 5vh;
 	text-align: center;
	/*max-height: 40vh;*/
	margin-left: 11vw;

}

.beer_overview:hover {
	background-color: #898989;
}


.beer_pic {
	max-width: 18vw;
}

.beer_pic_details {
	text-align: right;
}

li {
	list-style-type: none;
}

.detail_beer {
	padding-top: 2vh;
	text-align: left;
}

.full_detail_beer {
	padding-top: 8vh;
	padding-left: 3vw;
	font-size: 150%;
}

body {
	color: black;
}

img {
	max-height: 40vh;
}

.add_sub_buttons {
	display: inline-block;
	margin-right: 1vw;
}

.quantity {
	display: inline-block;
	margin-right: 1vw;
}

.payment_overview {
	background-color: #e5e5e5;
	border: 2px solid #898989;
	border-radius: 6px;
	line-height: 40px;
	color: black;
	margin-bottom: 5vh;
	text-align: center;
}

@media screen and (max-width: 1080px) {
	.beer_pic {
		margin-top: 2vh;
		/*max-width: 25vw;*/
	}
}

